# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# macOS
.DS_Store

# Data
data/raw/
data/raw_sensitive/
data/processed/
99_Backup/

# Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

#env
.env 